.metadata
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/
ios/
assets/cito_icon.png
*.jks
*.keystore
key.properties
*.mobileprovision
*.p12
*.cer
*.pem
.env
